<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Home</title>
        <link rel="stylesheet" href="Static/css/reset.css">
        <link rel="stylesheet" href="Static/css/estilo.css">
    </head>
    <body>
        <header>
            <h1>CalcWeb</h1>
            <nav>
                <ul>
                    <li><a href="criarConta">Criar Conta</a></li>
                    <li><a href="login">Entrar</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="conteudo-geral">
                <div class="texto">
                <h2>O que é CalcWeb?</h2>
                
                    <p>O site CalcWeb tem a função de uma calculadora com as seguintes funções:</p>
                    <ul>
                        <li>&#43; Soma</li>
                        <li>&#8722; Subtração</li>
                        <li>&#215; Multiplicação</li>
                        <li>&#247; Divisão</li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <div class="contesto-principal">
                <p>&#9413; Projeto de Engenharia de Software 3</p>
            </div>
        </footer>
    </body>
</html>