<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Pagina não encontrada</title>
        <link rel="stylesheet" href="Static/css/reset.css">
        <link rel="stylesheet" href="Static/css/estilo.css">
    </head>
    <body>
         <header>
            <h1>CalcWeb</h1>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="criarConta">Criar Conta</a></li>
                    <li><a href="login">Entrar</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="conteudo-geral">
                <div class="texto" style="border-radius: 5px 10px 10px 5px;">
                    <h2 >Pagina não encontrada</h2>
                </div>
            </section>
        </main>
        <footer>
            <div class="contesto-principal">
                <p>&#9413; Projeto de Engenharia de Software 3</p>
            </div>
        </footer>
    </body>
</html>