

header{
    background: #000000;
    color: white;
    font-weight: bold;
}
header h1{
    padding: 1.2em;
    font-size: 1.5em;
}

nav{
    position: absolute;
    top: 2em;
    right: 0;
    margin: 0 auto;
}

nav li{
    display: inline-block;
    margin-right: 1em;
    background: #222222;
    padding: 0.5em;
    transition: background 2s;
}
nav li:hover{
    background: #3a3a3a;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: white;
}
main{
    border: 0px, none, white;
}
.imagemFundo{
    width: 100%;
}

.conteudo-texto, .calculadora{
   position: absolute;
   top: 25%; 
   left: 5%;  
   background: rgba(380, 380, 380, 0.8);
   padding: 2em ;
   border-radius: 10px ;
   text-align: center;
}

.conteudo-texto h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 0 0.8em 0;
}
.conteudo-texto p{
    font-size: 1.1em;
}
.conteudo-texto li{
    margin: 0.5em 0;
    transition: font-size 1s;
}
.conteudo-texto li:hover{
    margin: 0.5em 0;
    color: blue;
    cursor: pointer;
    font-size: 1.2em;
}
.calculadora p{
    border: 1px solid #000000;
    padding: 2em 0.5em;
    background: white;
    margin-bottom: 0.5em;
}
.calculadora input[type="number"], label{
    display: block;
    margin: 0.2em 0;
    width: 100;
    text-align: justify;
    padding: 0.2em;
}
.calculadora select{
    padding: 0.2em;
}

.calculadora button, .botaoResu{
    background: #000000;
    color: white;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
}

footer{
    padding: 2em;
    background: black;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}
